<div class="pt-2">
  <%= simple_form_for [@bet], data: { controller: 'flatpickr' } do |f| %>
  <div class="card text-center">
    <div class="card-header">
      <h1>Edit bet</h1>
    </div>
  </div>
  <br>
    <%= f.input :description, disabled: true %>
    <%= f.input :result, label: 'Result: Check for true, uncheck for false', as: :radio_buttons %>
    <div class="d-grid gap-2">
      <%= f.submit class: "btn btn-flat" %>
    </div>
  <% end %>
  <div class="text-center">
    <%= link_to "Back to list", bets_path, class: "btn btn-flat" %>
  </div>
</div>
