<div class="container">
  <h1>Dashboard</h1>
  <h5>Welcome back, user!</h5>
</div>
<div class="container">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

  <div class="status-container" >
  <div class="row col-8 col-lg-12">
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4">
          <div class="col">
        <div class="card radius-10 border-start border-0 border-3 border-info">
          <div class="card-body">
            <div class="d-flex align-items-center">
              <div>
                <p class="mb-0 text-secondary">Earnings</p>
                <h4 class="my-1 text-info">4805</h4>
                <p class="mb-0 font-13">+2.5% from last week</p>
              </div>
              <div class="widgets-icons-2 rounded-circle bg-gradient-bloody text-white ms-auto"><i class="fa-sharp fa-solid fa-brazilian-real-sign"></i>
              </div>
            </div>
          </div>
        </div>
        </div>
        <div class="col">
        <div class="card radius-10 border-start border-0 border-3 border-danger">
          <div class="card-body">
            <div class="d-flex align-items-center">
              <div>
                <p class="mb-0 text-secondary">Loses</p>
                <h4 class="my-1 text-danger">$84,245</h4>
                <p class="mb-0 font-13">+5.4% from last week</p>
              </div>
              <div class="widgets-icons-2 rounded-circle bg-gradient-scooter text-white ms-auto"><i class="fa-sharp fa-solid fa-chart-line-down"></i>
              </div>
            </div>
          </div>
        </div>
        </div>
        <div class="col">
        <div class="card radius-10 border-start border-0 border-3 border-success">
          <div class="card-body">
            <div class="d-flex align-items-center">
              <div>
                <p class="mb-0 text-secondary">Ranking</p>
                <h4 class="my-1 text-success">34.6%</h4>
                <p class="mb-0 font-13">-4.5% from last week</p>
              </div>
              <div class="widgets-icons-2 rounded-circle bg-gradient-ohhappiness text-white ms-auto"><i class="fa-solid fa-chart-mixed"></i>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
      </div>
    </div>

  <%# <div class="float-right"> %>
  <div class="bets-container">
    <% @bets.each do |bet| %>
      <div class="card" style="width: 18rem;">
        <img src="https://unsplash.com/photos/jh4Lwih8GRg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><p>Description:</p></h5>
          <p class="card-text"><%= bet.description %></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><p>Amount: <%= bet.amount %></p></li>
          <li class="list-group-item"><p>Status: <%= bet.status %></p></li>
        </ul>
        <div class="card-body">
          <%= link_to "View bet", bet_path(bet.id) %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%# </div> %>

<%# <%= link_to "New bet", new_bet_path if policy(Bet).new? %>
