<div class="container">
  <h1>Bet</h1>
</div>
<div class="show-container">
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"><p>Description:</p></h5>
      <p class="card-text"><%= @bet.description %></p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><p>Amount: <%= @bet.amount %></p></li>
      <li class="list-group-item"><p>Start date: <%= @bet.start_date %></p></li>
      <li class="list-group-item"><p>End date: <%= @bet.end_date %></p></li>
      <li class="list-group-item"><p>Status: <%= @bet.status %></p></li>
      <li class="list-group-item"><p>Max users: <%= @bet.max_users %></p></li>
    </ul>
    <div class="card-body">
      <%= link_to "Back", bets_path %>
    </div>
  </div>
</div>


    <%#
    t.string "description", null: false
    t.integer "amount", null: false
    t.datetime "start_date", null: false
    t.datetime "end_date", null: false
    t.boolean "result"
    t.string "status", null: false
    t.integer "max_users", null: false
    t.bigint "user_id", null: false
    %>
