<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="UTF-8" ></script>
  <link rel="stylesheet" href="style.css">

  <title>WeBet</title>
</head>
<body>
    <header>
      <nav>

      <div>
      </div>
        <div class="menu-btn">
          <i class="fas fa-bars"></i>
        </div>
        <div class="side-bar">
          <div class="close-btn">
            <i class="fas fa-times"></i>
          </div>
          <div class="menu">

            <div class="title-brand"><a href="index.html" style="color: white; text-decoration: none";>WeBet</a></span></div>
            <div class="w-100 d-flex justify-content-center">
            <%= image_tag "avatar.jpg", class: "avatar-profile" %>

            </div>
             <div class="item">
              <a class="sub-btn"><i class="fas fa-eye"></i>Saldo<i class="fas fa-angle-right dropdown"></i></a>
              <div class="sub-menu">
              <% if current_user %>
                <div class="money"><i class="fas fa-money-bill"></i>R$<%= current_user&.wallet&.balance %></div>
              <% end %>
              </div>
              </div>
            <div class="item"><i class="fas fa-desktop"></i><%= link_to "Dashboard", bets_path %></div>
            <div class="item"><i class="fas fa-handshake"></i><%= link_to "Create a Bet", new_bet_path %></div>
            <% if current_user %>
              <div class="item"><i class="fas fa-wallet"></i><%= link_to "Wallet", user_wallet_path(current_user&.id) %></div>
            <% end %>
            <div class="item"><%= link_to "Buy chips", chips_path %></div>
            <div class="item"><a href="users/sign_in"><i class="fas fa-cogs"></i>Login(temporario)</a></div>
            <div class="item"><%= link_to "Sign Out", destroy_user_session_path, data: { "turbo-method": :delete } %></div>
        </div>

      </nav>
    </header>

    <script type="text/javascript">
        $(document).ready(function(){

          $('.sub-btn').click(function(){
            $(this).next('.sub-menu').slideToggle();
            $(this).find('.dropdown').toggleClass('rotate');
          });

           $('.menu-btn').click(function(){
            $('.side-bar').addClass('active');
            $('.menu-btn').css("visibility", "hidden");
          });

           $('.close-btn').click(function(){
            $('.side-bar').removeClass('active');
            $('.menu-btn').css("visibility", "visible");
          });

        });
    </script>

</body>
</html>
