<div class="container">
  <div class="balance-card">
    <div class="card text-center">
      <div class="card-header">
        <h1>Wallet</h1>
      </div>
      <div class="card-body">
        <h5 class="text-center">Current Balance:</h5>
        <p class="card-text">R$ <%= @wallet.balance %></p>
      </div>
    </div>
    <div class="d-grid gap-2">
      <a href="/chips" class="btn btn-primary">Buy Chips</a>
      <%# <%= link_to '<button type="submit" class="btn btn-primary">Buy Chips</button>'.html_safe, chips_path %>
      <%# <button type="submit" class="btn btn-primary"><a href="/chips">Buy Chips</a></button> %>
    </div>
  </div>

  <%= simple_form_for [current_user, @wallet] do |f| %>
    <div class="card text-center">
      <div class="card-header">
        <h1>Withdraw</h1>
      </div>
    </div>

    <div class="mb-3">
      <label class="form-label">Account Name</label>
      <input type="text" class="form-control">
    </div>

    <div class="mb-3">
      <label class="form-label">Bank Name</label>
      <div class="select">
        <select>
          <option></option>
          <option>Banco do Brasil</option>
          <option>Bradesco</option>
          <option>Santander</option>
          <option>Itaú</option>
          <option>Caixa Econômica Federal</option>
        </select>
      </div>
    </div>

    <div class="mb-3">
      <label class="form-label">Account Type</label>
      <div class="select">
        <select>
          <option></option>
          <option>Corrente</option>
          <option>Poupança</option>
        </select>
      </div>
    </div>

    <div class="mb-3">
      <label class="form-label">Bank Code</label>
      <input type="num" class="form-control" maxlength="4" />
    </div>

    <div class="mb-3">
      <label class="form-label">Account number</label>
      <input type="num" class="form-control" maxlength="8" />
    </div>

    <div class="mb-3">
      <label class="form-label">ID Number</label>
      <input type="num" class="form-control" maxlength="11" />
    </div>

    <%= f.input :withdraw_amount %>
    <%= f.submit class: "btn btn-primary" %>
  <% end %>
</div>
