
<div class="container d-flex">
  <form class="col-md-6 mx-auto">
<h2>Log in</h2>
<div class="container d-flex">
<form class="col-md-6 mx-auto">
    <!-- Conteúdo do formulário aqui -->
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: :false }) do |f| %>
  <div class="form-inputs">
    <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
    <%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password" } %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>


  <div class="form-actions">
    <div class="forme"> <%= f.button :submit, "Log in" %> </div>
  </div>
  <%= render "devise/shared/links" %>

